/* 
 * Dark brown, chocolate, khaki, yellow, and orange.
 * https://coolors.co/7f5c62-9a6458-e7bf95-ffce00-ff9200
 * 
 * Blackish, grayish, white, positive, and negative.
 * https://coolors.co/3b3447-5c546a-ffffff-9EC400-f15524
 *
 */
:root {
    --blackish: #3b3447;
    --grayish: #5c546a;
    --white: #ffffff;
    --positive: #9ec400;
    --negative: #f15524;

    --chocolate: #7f5c62;
    --sienna: #9a6458;
    --sienna-light-background: #f2ebea;
    --khaki: #e7bf95;
    --khaki-light-background: #fdfbf8;
    --banana: #ffce00;
    --orange: #ff9200;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arimo, sans-serif;
    color: var(--blackish);
}

#root {
    height: 100%;
}
