.menu {
    --background: var(--chocolate);
    --foreground: var(--khaki-light-background);
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100%;
}

.search {
    background-color: var(--background);
    position: sticky;
    top: 0;
    z-index: 10;
}

.search input {
    background-color: hsla(0, 0%, 0%, 25%);
    padding: 1rem;
    width: 100%;
}

.row {
    display: block;
    background-color: hsla(0, 0%, 0%, 12.5%);
}

.row:nth-child(2n + 1) {
    background-color: hsla(0, 0%, 0%, 25%);
}

.row.selected {
    background-color: var(--sienna);
}
