.blank {
    font-size: 1.25em;
    padding: 3rem;
}

.topbar {
    align-items: center;
    background-color: var(--sienna-light-background);
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.chart {
    padding: 1rem;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.table tr:nth-child(2n + 1) {
    background-color: var(--khaki-light-background);
}

.table td {
    height: 3.5rem;
    padding: 0 0.5rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.table td:first-child {
    padding-left: 1rem;
    text-align: left;
}

.table td:last-child {
    padding-right: 1rem;
    text-align: right;
}

.status {
    font-weight: bolder;
    color: var(--positive);
}

.status.red {
    color: var(--negative);
}

@media screen and (max-width: 768px) {
    .table td:first-child {
        width: 10rem;
    }

    .table td:last-child {
        display: none;
    }

    .table td:nth-last-child(2) {
        padding-right: 0.5rem;
        text-align: right;
    }
}
