.blank {
    font-size: 1.25em;
    padding: 3rem;
}

.topbar {
    background-color: var(--sienna-light-background);
    position: sticky;
    top: 0;
}

.topbar a {
    display: block;
}

.chart {
    padding: 1rem;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.table tr:nth-child(2n + 1) {
    background-color: var(--khaki-light-background);
}

.table td {
    height: 3.5rem;
    padding: 0 0.5rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.table td:first-child {
    padding-left: 1rem;
    text-align: left;
}

.table td:last-child {
    padding-right: 1rem;
    text-align: right;
}

.status {
    font-weight: bolder;
    color: var(--positive);
}

.status.bad {
    color: var(--negative);
}

@media screen and (max-width: 768px) {
    .table td:first-child {
    }
}
