.blank {
    font-size: 1.25em;
    padding: 3rem;
}

.topbar {
    background-color: var(--sienna-light-background);
    position: sticky;
    top: 0;
}

.chart {
    padding: 1rem;
}

.table {
    width: 100%;
}

.table tr:nth-child(2n + 1) {
    background-color: var(--khaki-light-background);
}

.table td {
    height: 3.5rem;
    padding: 0 0.5rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.table td:first-child {
    padding-left: 1rem;
    text-align: left;
    width: 1px;
}

.table td:last-child {
    padding-right: 1rem;
    text-align: right;
    width: 1px;
}

.status {
    font-weight: bolder;
    color: var(--contrast-positive);
}

.status.bad {
    color: var(--contrast-negative);
}
