.website {
    line-height: 1.25;
    width: 100%;
}

.row {
    align-items: center;
    display: flex;
    height: 3.75rem;
    padding: 0 0.5rem;
}

.row.justified {
    justify-content: center;
}

.segment {
    margin: 0 0.5rem;
    white-space: nowrap;
}

.stats {
    align-items: center;
    display: flex;
}

.stats > * + * {
    margin-left: 1.5rem;
}

.label {
    display: block;
    line-height: 1.5;
    opacity: 0.75;
}

.name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row:nth-child(2) {
    background-color: var(--alternate-background);
}

@media screen and (min-width: 769px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
}
