.website {
    align-items: center;
    display: flex;
    height: 3.75rem;
    line-height: 1.25;
    padding: 0 0.5rem;
    width: 100%;
}

.segment {
    padding: 0 0.5rem;
}

.timestamp {
    display: block;
    line-height: 1.5;
    opacity: 0.75;
}

.name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail {
    display: block;
    line-height: 1.5;
    opacity: 0.75;
}

.uptime {
    text-align: right;
    white-space: nowrap;
}
