.website {
    align-items: center;
    display: flex;
    height: 3.75rem;
    line-height: 1.25;
    padding: 0 0.5rem;
    width: 100%;
}

.segment {
    margin: 0 0.5rem;
    white-space: nowrap;
}

.label {
    display: block;
    line-height: 1.5;
    opacity: 0.75;
}

.name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spaced + .spaced {
    margin-left: 1.5rem;
}

@media screen and (max-width: 768px) {
    .extended {
        display: none;
    }
}
