.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.topbar {
    align-items: center;
    background-color: var(--chocolate);
    color: hsla(0, 100%, 100%, 87.5%);
    display: flex;
    flex: 0 0 auto;
    height: 4.5rem;
    justify-content: space-between;
    padding: 0 1.125rem;
}

.brand,
.period {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.brand {
    font-size: 1.5em;
}

.main {
    display: flex;
    flex: 0 1 100%;
    position: relative;
    min-height: 0;
}

.aside,
.content {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.aside {
    flex: 0 0 30%;
    min-width: 20rem;
}

.content {
    flex: 0 1 100%;
}

@media screen and (max-width: 768px) {
    .aside {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    .aside.open {
        display: block;
    }
}
