.container {
  display: flex;
  height: 100%;
}

.main,
.aside {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  max-width: 100%;
  overflow: auto;
}

.aside {
  flex: 0 0 24rem;
}

.main {
  flex: 0 1 100%;
}

@media screen and (max-width: 768px) {
  .aside {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  .aside.open {
    display: block;
  }
}