.container {
  display: flex;
  height: 100%;
}

.sidebar,
.content {
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: auto;
}

.sidebar {
  flex: 0 0 24rem;
}

.content {
  flex: 0 1 100%;
  color: #5f454a;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  .sidebar.open {
    display: block;
  }
}
