.welcome {
    background-color: var(--khaki-light-background);
    color: var(--sienna-light-background);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.owl {
    fill: currentColor;
    width: 22rem;
}

.message {
    font-size: 4.5em;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .owl {
        width: 15rem;
    }

    .message {
        font-size: 3em;
    }
}
