.sidebar {
  background-color: #7e5c62;
  color: #f0e7e5;
}

.topbar {
  align-items: center;
  background-color: #7e5c62;
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  padding: 0 1.125rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.brand {
  font-size: 1.5em;
}

.list {
}

.row {
  background-color: #6f5156;
}

.row:nth-child(2n + 1) {
  background-color: #61474c;
}

.row.selected {
  background-color: #996459;
}
