.indicator {
  background-color: #e46b58;
  border-radius: 0.875rem;
  display: inline-block;
  height: 1.25rem;
  vertical-align: middle;
  width: 0.875rem;
}

.indicator.green {
  background-color: #8dc11f;
}
