.indicator {
    display: inline-block;
    color: #8f879b;
    vertical-align: middle;
}

.up {
    color: var(--positive);
}

.down {
    color: var(--negative);
}

.maintenance {
    color: var(--banana);
}
