.indicator {
    background-color: var(--negative);
    border-radius: 4px;
    display: inline-block;
    height: 1.25rem;
    vertical-align: middle;
    width: 8px;
}

.green {
    background-color: var(--positive);
}

.gray {
    background-color: #8f879b;
}
