.area {
}

.area:hover .bar,
.area:hover .overlay {
    opacity: 0.5;
}

.overlay {
    mix-blend-mode: color;
    fill: var(--positive);
}

.overlay.red {
    fill: var(--negative);
}

.bar {
    transition: all 0.25s ease-out;
}
