.area {
}

.area:hover .bar {
    opacity: 0.5;
}

.overlay {
    mix-blend-mode: overlay;
    fill: var(--positive);
}

.overlay.bad {
    fill: var(--negative);
}

.bar {
    transition: all 0.25s ease-out;
    rx: 1;
    ry: 1;
}
